@import "../../../scss/variables";
.table-section{
    margin:35px auto;
}
.table{
    border-radius: 4px;
    background-color: $defaultColor;
    width: 100%;
    border:1px solid $borderColor;
    .table-row{
        padding: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $borderColor;
      
    }
    .table-header-item{
            
    }

   
}